<?xml version="1.0" encoding="utf-8"?>
<manifest package="ir.kindnesswall"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.VIBRATE" />

	<application
		android:name=".app.AppController"
		android:allowBackup="true"
		android:icon="@drawable/app_icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.SplashScreenActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.yalantis.ucrop.UCropActivity"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
		<activity
			android:name=".activity.BottomBarActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.MyRequestsActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.UserProfileActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.RegisterGiftActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.GiftDetailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.LoginActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.provider.Telephony.SMS_RECEIVED"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.AppIntro"
			android:screenOrientation="portrait"/>

		<!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->


		<!-- <meta-data -->
		<!-- android:name="com.google.android.gms.version" -->
		<!-- android:value="@integer/google_play_services_version" /> -->

		<service android:name=".notification.MyFirebaseMessagingService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
		<service android:name=".notification.MyFirebaseInstanceIDService">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
			</intent-filter>
		</service>

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="3551a701e9188c43d642d6786ad8fa6bca9559f6"/>

		<!-- <activity -->
		<!-- android:name=".activity.MyRequestsActivity" -->
		<!-- android:label="@string/title_activity_my_requests" -->
		<!-- android:theme="@style/AppTheme"> -->
		<!-- </activity> -->
		<activity
			android:name=".activity.BookmarkActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.SearchActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activity.BaseActivity"
			android:label="@string/title_activity_base"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".activity.StatisticActivity"
			android:label="@string/title_activity_statistic"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".activity.ContactUsActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".activity.OurTeamActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".activity.ChatActivity"
			android:screenOrientation="portrait"/>

		<activity android:name="ir.tapsell.sdk.TapsellAdActivity"
			android:configChanges="keyboardHidden|orientation|screenSize" >
		</activity>

	</application>

</manifest>